BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakAfterDefinitionReturnType: TopLevel
BinPackArguments: false
AlignConsecutiveAssignments: true
